:root{
  --header-height: 3rem;
  --hue-color: 250;
  
  /* SE EU QUISER ALTERTAR A COR, MUDAR O PRIMEIRO (250) */
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #FFF;

  /* ==== font size ===== */
  /* --body-font: font-family: 'Poppins', sans-serif; */
  --big-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /* ==== font weight===== */
  --font-medioum:500;
  --font-semi-bold:600;

  /* @media screen and(min-widht: 968) {
  --big-font-size: 3rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --noraml-font-size: 1rem;
  --small-font-size: .875rem;
  --smaller-font-size: .813rem;
  } */

      /* ==== reset css === */
      box-sizing: border-box;
      padding: 0;
      margin: 0;

      html{
        scroll-behavior: smooth;
      }

     


}


body{
  padding: 60px 23px 66px;
  margin: 0 0 var(--header-height) 0;
  font-family: 'Poppins', sans-serif;
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,h2,h3,h4{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

nav{
  margin-left: 3rem;
  margin-right: 3rem;
  
  display: flex;
  justify-content: space-around;  
  
  font-size: var(--font-medioum);
  position: relative;
}
.pageNav{
  color: var(--text-color);
  text-decoration: none;
  list-style: none;
}
.pageNav:hover{
  font-size: .965rem;
  border-bottom: 1px solid var(--first-color);
}

nav ul{
  display: flex;
  gap: 1.6rem;
  text-decoration: none;
  list-style: none;
}

nav ul li:hover{
  color: var(--first-color);
  cursor: pointer;

}

          /* ====Main==== */

.main{
  height: 100vh;
  padding: 2rem 0 4rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.social{
  animation-name: anime__top;
  animation-duration: 1.5s;
  animation-delay: .2s;
}

.social ul{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.home__icon{
  width: 36px;
  height: auto;
  cursor: pointer;
  fill: var(--first-color);
}
.home__icon:hover{
  fill: var(--first-color);
}

.text__content{
  font-size: var(--small-font-size);
  max-width: 700px;
  font-size: var(--normal-font-size);
}
.text__content p{
  max-width: 400px;
}
.text__content h1{
  font-size: var(--big-font-size);
  font-weight: var(--font-semi-bold);
}
.text__content h3{
  color: var(--text-color);
  font-size: var(--normal-font-size);
  font-weight: 400;
  margin-top: -20px;
  
}
.home__btn{
  display: flex;
  align-items: center;
  gap: 4px;

 border: none;
 border-radius: 6px;

 background-color: var(--first-color);
 color: #FFF;

padding: 8px;
font-size: var(--small-font-size);
font-weight: var(--font-semi-bold);

}
.home__btn img{
  width: 25px;
  height: auto;
  fill: var(--first-color);
}


.home__blob{
  /* position: relative; */
  width: 400px;
  height: auto;
  /* mudar a cor do svg */
  fill: var(--first-color);
  margin-bottom: 10rem;
}

.img__perfil{
  width: 100%;
}

              /* ==== Pagina sobre mim ==== */


.about{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}       

.about .text__content h1{
font-weight: var(--font-semi-bold); 
font-size: var(--big-font-size);

}
.about .about-text__content h3{
  color: var(--text-color);
  font-weight: var(--normal-font-size);
  margin-top: -20px;
  
}

.container__perfil-about p{
  /* margin-top: -200px; */
  font-size: var(--h3-font-size);
}



.container__perfil-about{
  display: flex;
  /* flex-direction: column; */
  gap: 50px;
  justify-content: center;
  /* align-items: center; */
}
.about__perfil{
  width: 285px;
  height: auto;
  border-radius: 190px;
 
  /* border-radius: 15px; */
}

#projetoAnimacao{
  height: 400px;
  width: 400px;
}
.projetos{
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projetos p{
  margin-top: -20px;
}





          /* ====MEDIAS=== */

@media (max-width:920px) {
  nav{
    display: none;
  }
  .main{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    
    padding: 0 0 4rem;
   
    
  }
          /* media icones */
  .social{
    position: absolute;
    left: 2px;
    top: 190px;
  }

  .home__icon{
    width: 28px;
    height: auto;
  }

              /* Text content */
  .text__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--small-font-size);
  }
  .text__content p {
    width: 310px;
   font-size: var(--normal-font-size);
  }
  .text__content h1{
    font-size: var(--big-font-size);
  }
  .text__content h3{
    font-size: var(--normal-font-size);
    margin-top: -20px;
  }
 
  .home__btn{
    margin: 4rem auto 0;
    padding: 15px;
    font-weight: var(--font-semi-bold);
    justify-content: center;
    align-items: center;
    font-size: var(--h2-font-size);
    
  }
 

            /* Imagem de perfil */

  .home__blob{
    max-width: 240px;
    margin-bottom: 1px;
  }
  
  
}

@keyframes anime__top{
 0%{ top: 0px}
  100%{ top: 190px}
}





